*,*::after,*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #B7C3F3;
}
.container{
    background: rgba(234, 234, 234, 0.25);
    padding: 1.2em 1.8em;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5em;
}
nav li{
    list-style: none;
    font-size: 1.5em;
    cursor: pointer;
    background: #DD7596;
    color: #eaeaea;
    padding: 0.5em 1em;
    margin: 0 1.5em 0;
    border-radius: 1em;
    transition: all 0.3s ease-in-out;
}
nav select,option{
    border: none;
    outline: none;
    font-size: 1em;
    background: none;
    color: #eaeaea;
    border-radius: 1em;
    transition: all 0.3s ease-in-out;
}
nav li:hover, nav select:hover{
    background: #CF1259;
}
#facts{
    text-align: center;
    margin: 10px 20px;
    padding: 1em 1.2em;
}
#facts h1{
    margin-bottom: 1em;
    cursor: pointer;
    background-color: #eaeaea;
    padding: .5em .2em;
    text-align: center;
    border-radius: 1em;
}
#facts p{
    margin-bottom: 1.2em;
    font-size: 1.5em;
    display: none;
}
#facts h1:focus + p{
display: block;
}
main{
    text-align: center;
}
.joke-title{
    margin-top: 1.2em;
    color: #CF1259;
}
.joke-content{
    margin: 1.5em 0;
    padding: 1.2em 1.5em;
    font-size: 2em;
    word-wrap: break-word;
    word-break: break-all;
}